
@import "templates/variables";
@import "EDgrid/ed-grid";

body{
  font-size: 1em;
  line-height: 1.5;
  color: $colorText;
  font-family: $text-body; 
}
//Button
@import "templates/btn";

//Logo
@import "templates/logo";

//Menu
@import "templates/menu";

//Banner
@import "templates/banner";

//About US

@import "templates/about";

//Features
@import "templates/features";

//Services
@import "templates/services";

//Gallery
@import "templates/gallery";

//pricing
@import "templates/price";

//Testimonials
@import "templates/testimonial";

//Post
@import "templates/post";

//footer
@import "templates/footer";