ul.main-menu#main-menu
  li: a(href='#' class='main-menu__items') home
  li: a(href='#' class='main-menu__items') about us
  li: a(href='#' class='main-menu__items') services
    ul
      li: a(href='#' class='main-menu__itemsSecundario') home
      li: a(href='#' class='main-menu__itemsSecundario') about us
      li: a(href='#' class='main-menu__itemsSecundario') services
      li: a(href='#' class='main-menu__itemsSecundario') galery
      li: a(href='#' class='main-menu__itemsSecundario') blog
      li: a(href='#' class='main-menu__itemsSecundario') contacts
  li: a(href='#' class='main-menu__items') galery
  li: a(href='#' class='main-menu__items') blog
  li: a(href='#' class='main-menu__items') contacts
