nav.main-nav#main-nav
  ul.main-menu#main-menu
    li: a(href='#') about us
    li: a(href='#') home
    li 
      a(href='#') services
      ul
        li: a(href='#') home
        li: a(href='#') about us
        li: a(href='#') services
        li 
          a(href='#') galery
          ul
             li: a(href='#') home
             li: a(href='#') about us
             li: a(href='#') services
             li: a(href='#') galery
             li: a(href='#') blog
             li: a(href='#') contacts
        li: a(href='#') blog
        li: a(href='#') contacts
    li: a(href='#') galery
    li: a(href='#') blog
    li: a(href='#') contacts
