.logo.cross-center
  img(src='img/logo.png').logo-img
  .logo-right
    input(type='text' name='text' placeholder='Search').logo-right__search
    .logo-right__social
      .icon-search
      .icon-facebook
      .icon-twitter
      .icon-snapchat
      .icon-whatsapp
  .nav-toggle
