nav.main-nav#main-nav
  ul.main-menu#main-menu
    li.main-menu__item: a(href='#') about us
    li.main-menu__item: a(href='#') home
    li.main-menu__item 
      a(href='#') services
      ul
        li.main-menu__item: a(href='#') home
        li.main-menu__item: a(href='#') about us
        li.main-menu__item: a(href='#') services
        li.main-menu__item 
          a(href='#') galery
          ul
             li.main-menu__item: a(href='#') home
             li.main-menu__item: a(href='#') about us
             li.main-menu__item: a(href='#') services
             li.main-menu__item: a(href='#') galery
             li.main-menu__item: a(href='#') blog
             li.main-menu__item: a(href='#') contacts
        li.main-menu__item: a(href='#') blog
        li.main-menu__item: a(href='#') contacts
    li.main-menu__item: a(href='#') galery
    li.main-menu__item: a(href='#') blog
    li.main-menu__item: a(href='#') contacts
