.footer-container
    .ed-container          
        .ed-item.m-25       
            .footer-container__up
                .icon-dog.m-25
                .m-75.footer-container__head
                    h3.footer-container__head__title Fluffy
                        span Paw
                    p.footer-container__head__subtitle Service Luxury
            .footer-container__body
                p.footer-container__body__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto necessitatibus animi enim nostrum minus aliquam, corporis iusto dolores.        
                .footer-container__body__icons   
                    .icon-facebook
                    .icon-twitter
                    .icon-snapchat
                    .icon-whatsapp
        .ed-item.m-25       
            .footer-container__up
                .icon-dog.m-25
                .m-75.footer-container__head
                    h3.footer-container__head__title Fluffy
                        span Paw
                    p.footer-container__head__subtitle Service Luxury
            .footer-container__body
                p.footer-container__body__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto necessitatibus animi enim nostrum minus aliquam, corporis iusto dolores.        
                .footer-container__body__icons   
                    .icon-facebook
                    .icon-twitter
                    .icon-snapchat
                    .icon-whatsapp
        .ed-item.m-25       
            .footer-container__up
                .icon-dog.m-25
                .m-75.footer-container__head
                    h3.footer-container__head__title Fluffy
                        span Paw
                    p.footer-container__head__subtitle Service Luxury
            .footer-container__body
                p.footer-container__body__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto necessitatibus animi enim nostrum minus aliquam, corporis iusto dolores.        
                .footer-container__body__icons   
                    .icon-facebook
                    .icon-twitter
                    .icon-snapchat
                    .icon-whatsapp
        .ed-item.m-25       
            .footer-container__up
                .icon-dog.m-25
                .m-75.footer-container__head
                    h3.footer-container__head__title Fluffy
                        span Paw
                    p.footer-container__head__subtitle Service Luxury
            .footer-container__body
                p.footer-container__body__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto necessitatibus animi enim nostrum minus aliquam, corporis iusto dolores.        
                .footer-container__body__icons   
                    .icon-facebook
                    .icon-twitter
                    .icon-snapchat
                    .icon-whatsapp