doctype html
html
  head
    title Layout
    meta(name='viewport', content='width=device=width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(href="https://file.myfontastic.com/qWudegx9JCjJTaNmXJHb8K/icons.css" rel="stylesheet")
  body
    header
      include block-logo
    .nav-container
      .ed-container
        .ed-item
          nav.main-nav#main-nav
            include block-menu
    block banner
    block aboutUs
    block features
    block services
    block images
    block pricing
    block testimonials
    block posts
    footer
    script(src='js/ed-grid.js')
    script(src='js/script.js')
