extends template/template
block banner
  .main-banner
    .ed-container
      .ed-item.banner-container
        img(src="img/perrito.jpg").main-banner__img
        .main-banner__copy
          h2.main-banner__title
            span the kind of care 
            span your pet deserve
          .main-banner__content
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            span do eiusmod tempor incididunt 
