extends template/template
block banner
  .main-banner
    .ed-container
      .ed-item
        img(src="img/perrito.jpeg").main-banner__img
        .main-banner__copy
          .main-banner__title
            | the kind of care your pet deserve
          .main-banner__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio 
