extends template/template
block banner
  .main-banner
    .ed-container
      .ed-item.main-banner__container
        img(src="img/perrito.jpg").main-banner__img      
        .main-banner__copy
          h2.main-banner__title
            span the kind of care 
            span your pet deserve
          .main-banner__content
            span Lorem ipsum dolor sit amet, consectetur, 
            span do eiusmod tempor incididunt 
block aboutUs
  .ed-container.about-us
    .ed-item.m-50
      img(src='img/perrito2.jpg').about-us__img
    .ed-item.m-50.cross-center
      .about-us__copy
        h2.about-us__title About Clinic
        p.about-us__subtitle Pets best friends
        p.about-us__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum repellat atque veritatis quam incidunt ab tempore vitae assumenda explicabo, iste necessitatibus molestiae, doloribus, reiciendis autem itaque tenetur optio, quas adipisci.
        a(href='#').btn-cta Contact us

block features
  .features-container
    .ed-container
      .ed-item.s-50.l-25.feature
        .feature__icon.icon-heart
        .feature__number 12964
        .feature__subtitle nuestras clientes felices
      .ed-item.s-50.l-25.feature
        .feature__icon.icon-dog
        .feature__number 12964
        .feature__subtitle nuestras clientes felices
      .ed-item.s-50.l-25.feature
        .feature__icon.icon-home
        .feature__number 12964
        .feature__subtitle nuestras clientes felices
      .ed-item.s-50.l-25.feature
        .feature__icon.icon-paw
        .feature__number 12964
        .feature__subtitle nuestras clientes felices

block services
  .ed-container
    .ed-item      
      h2.services-title Our 
        span Services & Procedures
      p.services-subtitle Many Clients Satisfied
      .services-container
        -var i=6
        -while(i--)                  
          .services
            .services-cell
              .services-icon.icon-dog
            .services-cell
              h3.services__title Wellness care
              p.services__content  Lorem ipsum dolor sit ametconsecteturadipisicing elit. Ullam asperiores recusandae,perspiciatis, velit adipisci magnam deseruneaque 

block images
  .gallery-container

    -var g=8
    -while(g--)
      .gallery
        .gallery-item
          img(src='img/pet'+ g +'.jpg').gallery-img

block pricing
  .price-container
    h2.price-container__title Pricing
      span Table
    p.price-container__subtitle List of pricing in our locations
    .ed-container.price
      .ed-item.m-1-3
        ul.price-container-item__list
          li: h3.price-container-item__title Preventive 
            span Inspection
          li: h3.price-container-item__price 99.00
          li: h4.price-container-item__priceDescription Seasonal Price
          li.price-container-item__detail item 2
          li.price-container-item__detail item 3
          li.price-container-item__detail item 4
          li.price-container-item__detail item 5
          li
            a(href='#').btn-cta.price-button Contact us
      .ed-item.m-1-3
        ul.price-container-item__list
          li: h3.price-container-item__title Preventive 
            span Inspection
          li: h3.price-container-item__price 99.00
          li: h4.price-container-item__priceDescription Seasonal Price
          li.price-container-item__detail item 2
          li.price-container-item__detail item 3
          li.price-container-item__detail item 4
          li.price-container-item__detail item 5
          li
            a(href='#').btn-cta.price-button Contact us
      .ed-item.m-1-3
        ul.price-container-item__list
          li: h3.price-container-item__title Preventive 
            span Inspection
          li: h3.price-container-item__price 99.00
          li: h4.price-container-item__priceDescription Seasonal Price
          li.price-container-item__detail item 2
          li.price-container-item__detail item 3
          li.price-container-item__detail item 4
          li.price-container-item__detail item 5
          li
            a(href='#').btn-cta.price-button Contact us

block testimonials
  .testimonials
    .ed-container
      .ed-item
        .testimonials-container
          h2.testimonials-container__title What
            span Clients Say
          h3.testimonials-container__subtitle because they can't tell you whats wrong
          img(src='img/client.jpg').testimonials-container__img
          p.testimonials-container__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quasi harum commodi accusamus, assumenda iusto explicabo accusantium voluptatum eos aliquam alias, sunt quia quidem incidunt unde odio aut dolore atque!
          h3.testimonials-container__name James Bond
          h4.testimonials-container__location England

block posts
  
    .ed-container.post-container
      .ed-item
        h2.post-container__title Recent
          span Post
        p.post-container__subtitle love is the best medicne
      .ed-item.l-1-3
        .post-container__block
          img(src='img/post.jpg').post-container__img
          p.post-container__institution san jude
          h3.post-container__name Ribeye Alquip Culpa
          p.post-container__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, autem quo, placeat eligendi minima, quasi molestias consectetur error 
          a(href='#').btn-cta.post-button Read More
      .ed-item.l-1-3
        .post-container__block
          img(src='img/post.jpg').post-container__img
          p.post-container__institution san jude
          h3.post-container__name Ribeye Alquip Culpa
          p.post-container__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, autem quo, placeat eligendi minima, quasi molestias consectetur error 
          a(href='#').btn-cta.post-button Read More
      .ed-item.l-1-3
        .post-container__block
          img(src='img/post.jpg').post-container__img
          p.post-container__institution san jude
          h3.post-container__name Ribeye Alquip Culpa
          p.post-container__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, autem quo, placeat eligendi minima, quasi molestias consectetur error 
          a(href='#').btn-cta.post-button Read More
      