.about-us{
  //font-size: 1.5em;
  padding-top: 1.5em;
  &__title{
    margin: 0;
    font-family: $text-titles;
  }
  &__subtitle{
    color: $color1;
    margin:0;
    font-family: $text-titles;       
  }
  
  &__cta{
    @include button(white,$color2);
    border: 1px solid $color2;
  }
}