.services-container{
    @include grid('.services', 1 2 3, 2em);
    margin-top: 1em;
}
.services-title, 
.services-subtitle{
   text-align: center;
   font-family: $text-titles;
   margin: 0;
}
.services-title{
    margin-top: 2em;
    font-size: 2em;
    color: rgba($colorText, .5);
    span{
        color: $colorText;
    }
}
.services{
    display: flex;
    &__title {
       padding-left: 1em;
       margin-bottom: 0;
       color: $color2;
    }
    &__content{
        padding-left: 1em;
        margin: 0;
    }
    &-icon{
        font-size: 3em;
        color: $color1;
    }
}